<div class="form-wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <h3 class="mb-4">Book Info</h3>
    <div formGroupName="bookInfoGroup">
      <div class="form-group position-relative">
        <label for="author">Author</label>
        <input
          class="form-control"
          formControlName="author"
          id="author"
          [ngClass]="
            {
              'is-invalid': form.get('bookInfoGroup.author').invalid &&
                            form.get('bookInfoGroup.author').touched,
              'is-valid': !form.get('bookInfoGroup.author').invalid &&
                          form.get('bookInfoGroup.author').touched
            }
          "
        />
        <div
          *ngIf="
            form.get('bookInfoGroup.author').invalid &&
            form.get('bookInfoGroup.author').touched
          "
          class="error-position position-absolute absolute-right text-danger small"
        >
          <span *ngIf="form.get('bookInfoGroup.author').errors['required']">
            Please write the author's surname and name
          </span>
        </div>
      </div>

      <div class="form-group position-relative">
        <label for="title">Title</label>
        <input
          class="form-control"
          formControlName="title"
          id="title"
          [ngClass]="
            {
              'is-invalid': form.get('bookInfoGroup.title').invalid &&
                            form.get('bookInfoGroup.title').touched,
              'is-valid': !form.get('bookInfoGroup.title').invalid &&
                          form.get('bookInfoGroup.title').touched
            }
          "
        />
        <div
          *ngIf="
            form.get('bookInfoGroup.title').invalid &&
            form.get('bookInfoGroup.title').touched
          "
          class="error-position position-absolute absolute-right text-danger small"
        >
          <span *ngIf="form.get('bookInfoGroup.title').errors['required']"
            >You should write a title of book</span
          >
        </div>
      </div>

      <div class="form-group position-relative">
        <label for="isbn">ISBN</label>
        <input
          class="form-control"
          formControlName="isbn"
          id="isbn"
          [ngClass]="
            {
              'is-invalid': form.get('bookInfoGroup.isbn').invalid &&
                            form.get('bookInfoGroup.isbn').touched,
              'is-valid': !form.get('bookInfoGroup.isbn').invalid &&
                          form.get('bookInfoGroup.isbn').touched
            }
          "
        />
        <div
          *ngIf="
            form.get('bookInfoGroup.isbn').invalid &&
            form.get('bookInfoGroup.isbn').touched
          "
          class="error-position position-absolute absolute-right text-danger small"
        >
          <span *ngIf="form.get('bookInfoGroup.isbn').errors['required']">
            please enter a ISBN identifier
          </span>
          <span *ngIf="form.get('bookInfoGroup.isbn').errors['pattern']">
            ISNB identifier should contains 10 (old version) or 13 (new version)
            numbers
          </span>
        </div>
      </div>

      <div class="form-group position-relative">
        <label for="pages">Number of Pages</label>
        <input
          class="form-control"
          formControlName="pages"
          id="pages"
          [ngClass]="
            {
              'is-invalid': form.get('bookInfoGroup.pages').invalid &&
                            form.get('bookInfoGroup.pages').touched,
              'is-valid': !form.get('bookInfoGroup.pages').invalid &&
                          form.get('bookInfoGroup.pages').touched
            }
          "
        />
        <div
          *ngIf="
            form.get('bookInfoGroup.pages').invalid &&
            form.get('bookInfoGroup.pages').touched
          "
          class="error-position position-absolute absolute-right text-danger small"
        >
          <span *ngIf="form.get('bookInfoGroup.pages').errors['required']">
            Please enter number of book pages
          </span>
          <span *ngIf="form.get('bookInfoGroup.pages').errors['pattern']">
            Sorry, field of "number of pages" contains only numeric symbols
          </span>
        </div>
      </div>

      <div class="form-group position-relative">
        <label for="format">Format</label>
        <select
          class="custom-select"
          formControlName="format"
          id="format"
          [ngClass]="
            {
              'is-invalid': 
                            form.get('bookInfoGroup.format').invalid &&
                            form.get('bookInfoGroup.format').touched,
              'is-valid': !form.get('bookInfoGroup.format').invalid &&
                          form.get('bookInfoGroup.format').touched
            }
          "
        >
          <option [disabled] hidden value="">
            Please select format
          <option
            *ngFor="let format of (formats | async)"
            [value]="format.id"
            [selected]="format.id === bookFormatId"
          >
            {{ format.name }}
          </option>
        </select>
        <div 
          *ngIf="
                  form.get('bookInfoGroup.format').invalid &&
                  form.get('bookInfoGroup.format').touched
                "
          class="error-position position-absolute absolute-right text-danger small">
          <span 
            *ngIf="form.get('bookInfoGroup.format').errors['required']"
          >
            Please select one of format options
          </span>
        </div>
      </div>

      <div class="form-group position-relative">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          formControlName="description"
          id="description"
          rows="3"
          [ngClass]="
            {
              'is-invalid': form.get('bookInfoGroup.description').invalid &&
                            form.get('bookInfoGroup.description').touched,
              'is-valid': !form.get('bookInfoGroup.description').invalid &&
                          form.get('bookInfoGroup.description').touched
            }
          "
        >
        </textarea>
        <div 
          *ngIf="
                  form.get('bookInfoGroup.description').invalid &&
                  form.get('bookInfoGroup.description').touched
                " 
          class="error-position position-absolute absolute-right text-danger small"
        >
          <span *ngIf="form.get('bookInfoGroup.description').errors['required']">
            Please write a description in the book
          </span>
        </div>
      </div>

      <div class="form-group position-relative">
        <label for="price">Price</label>
        <input 
          class="form-control" 
          formControlName="price" 
          id="price"
          [ngClass]="
            {
              'is-invalid': form.get('bookInfoGroup.price').invalid &&
                            form.get('bookInfoGroup.price').touched,
              'is-valid': !form.get('bookInfoGroup.price').invalid &&
                          form.get('bookInfoGroup.price').touched
            }
          "
        />
        <div *ngIf="
                    form.get('bookInfoGroup.price').invalid &&
                    form.get('bookInfoGroup.price').touched
                  " class="error-position position-absolute absolute-right text-danger small">
          <span *ngIf="form.get('bookInfoGroup.price').errors['required']">
            Please enter a price
          </span>
          <span *ngIf="form.get('bookInfoGroup.price').errors['pattern']">
            Sorry, field of "price" contains only numeric symbols
          </span>
        </div>
      </div>
    </div>
    <hr class="m-1 mb-5 mt-5" />

    <h3 class="mb-4">Publisher Info</h3>
    <div formGroupName="publisherGroup">
      <div class="form-group position-relative" >
        <label for="country">Country</label>
        <select
          class="custom-select"
          formControlName="country"
          id="country"
          (change)="filterCity(+$event.target.value)"
          [ngClass]="
            {
              'is-invalid': 
                            form.get('publisherGroup.country').invalid &&
                            form.get('publisherGroup.country').touched,
              'is-valid': !form.get('publisherGroup.country').invalid &&
                          form.get('publisherGroup.country').touched
            }
          "
        >
            <option [disabled] hidden value="">
              Please select Country
            </option>
            <option
              *ngFor="let country of (countries | async)"
              [value]="country.id"
              [selected]="country.id === bookCountryId"
              >{{ country.name }}</option
            >
        </select>
        <div 
          *ngIf="
                  form.get('publisherGroup.country').invalid &&
                  form.get('publisherGroup.country').touched
                " 
          class="error-position position-absolute absolute-right text-danger small">
          <span *ngIf="form.get('publisherGroup.country').errors['required']">
            Please select country
          </span>
        </div>
      </div>

      <div class="form-group position-relative">
        <label for="city">City</label>
        <select
          class="custom-select"
          formControlName="city"
          id="city"
          (change)="filterCompany(+$event.target.value)"
          [ngClass]="
            {
              'is-invalid': 
                            form.get('publisherGroup.city').invalid &&
                            form.get('publisherGroup.city').touched,
              'is-valid': !form.get('publisherGroup.city').invalid &&
                          form.get('publisherGroup.city').touched
            }
          "
        >
          <option [disabled] hidden value="">
            Please select City
          </option>
          <option 
            *ngFor="let city of (cities | async)"
            [value]="city.id"
          >
            {{ city.name }}
          </option>
        </select>
        <div 
          *ngIf="
                  form.get('publisherGroup.city').invalid &&
                  form.get('publisherGroup.city').touched
                " 
          class="error-position position-absolute absolute-right text-danger small"
        >
          <span *ngIf="form.get('publisherGroup.city').errors['required']">
            Please select city
          </span>
        </div>
      </div>

      <div class="form-group position-relative">
        <label for="company">Company</label>
        <select 
          class="custom-select" 
          formControlName="company" 
          id="company"
          [ngClass]="
            {
              'is-invalid': 
                            form.get('publisherGroup.company').invalid &&
                            form.get('publisherGroup.company').touched,
              'is-valid': !form.get('publisherGroup.company').invalid &&
                          form.get('publisherGroup.company').touched
            }
          "
        >
          <option [disabled] hidden value="">
            Please select Company
          </option>
            <option 
              [value]="company.id"
              *ngFor="let company of (companies | async)"
            >
              {{ company.name }}
            </option>
        </select>
        <div 
          *ngIf="
                  form.get('publisherGroup.company').invalid &&
                  form.get('publisherGroup.company').touched
                "
          class="error-position position-absolute absolute-right text-danger small"
        >
          <span *ngIf="form.get('publisherGroup.company').errors['required']">
            Please select company
          </span>
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="!form.valid" *ngIf="hideBtn" class="btn btn-primary mt-4">
      Submit
    </button>
  </form>
</div>
<span>{{ bookCountryId }}</span>


<div *ngIf="modal" class="fade modal-open show fixed-top fixed-bottom" id="exampleModal">
  <div class="modal-dialog bg-success">
    <div class="modal-content">
      <div class="modal-body">
        Your book {{book.title}} saccessfull added to server!
      </div>
    </div>
  </div>
</div>
