<div class="row pb-4" *ngIf="booksList | async as books; else loader">
  <div class="col-12"*ngIf="books?.length !== 0; else find">
    <a *ngFor="let book of books" [routerLink]="['/book', book.id]"
      class="list-group-item list-group-item-action d-flex justify-content-between">
      <span class="flex-fill text-truncate">{{book.title}}</span>
      <span class="d-block w-15 p-1 text-nowrap">{{book.price}} $</span>
    </a>
  </div>
</div>

<ng-template #find>
  <p>Nothing is found</p>
</ng-template>

<ng-template #loader>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
