<nav class="navbar mb-3 navbar-expand navbar-light bg-light">

  <a class="navbar-brand" routerLink="/showcase">Book Shop</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/book/new">Add New Book</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>

    </ul>
  </div>

</nav>
