<div class="container">

  <div class="row">

    <div class="col-md-12 col-xl-6">
      <form [formGroup]="searchForm">

        <h3 class="mb-4">Search</h3>

        <div class="form-group row">

          <label for="author" class="col-md-3 col-form-label">Author</label>
          <div class="col-md-7">
            <input formControlName="author" class="form-control" id="author">
          </div>

        </div>

        <div class="form-group row">

          <label for="title" class="col-md-3 col-form-label">Title</label>
          <div class="col-md-7">
            <input formControlName="title" class="form-control" id="title">
          </div>

        </div>

        <div class="form-group row">

          <label for="isbn" class="col-md-3 col-form-label">ISBN</label>
          <div class="col-md-7">
            <input formControlName="isbn" class="form-control" id="isbn">
          </div>

        </div>

        <div class="form-group row">
          <label for="format" class="col-md-3 col-form-label">Format</label>
          <div class="col-md-7">
            <select formControlName="formatId" class="form-control" id="format">
              <option value="all" selected >All</option>
              <option 
                *ngFor="let format of formats | async "
                [value]="format.id"
              >
                {{format.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row" formGroupName="pages">

          <div class="col">
            <div class="row" >

              <label for="page-min" class="col-md-6 col-form-label">Pages between</label>
              <div class="col-md-6">
                <input type="number" formControlName="min" class="form-control" id="page-min">
              </div>

            </div>
          </div>

          <div class="col">
            <div class="row">

              <label  class="col-md-2 col-form-label text-center" for="page-max">and</label>
              <div class="col-md-6">
                <input type="number" formControlName="max" class="form-control" id="page-max">
              </div>

            </div>
          </div>

        </div>

        <div class="form-group row" formGroupName="price">

          <div class="col">
            <div class="row">

              <label for="price-min" class="col-md-6 col-form-label">Price between</label>
              <div class="col-md-6">
                <input type="number" formControlName="min" class="form-control" id="price-min">
              </div>

            </div>
          </div>

          <div class="col">
            <div class="row">

              <label  class="col-md-2 col-form-label text-center" for="price-max">and</label>
              <div class="col-md-6">
                <input type="number" formControlName="max" class="form-control" id="price-max">
              </div>

            </div>
          </div>

        </div>

      </form>
    </div>

    <div class="col-md-12 col-xl-6">
      <h3 class="mb-4">List of Matched Books</h3>
      <div class="list-group" *ngIf="books; else startSearch" >
        <app-book-list [booksList]="books"></app-book-list>
      </div>
    </div>

  </div>

</div>

<ng-template #startSearch>
  Find some books
</ng-template>